body{background-color:rgb(255,210,255)}
#nav1{background-color:yellow; hove:background-color:red;font-size:30px; text-align:center}

#tab1{text-align:center; border:red solid; background-color:rgb(212,135,217);}
h1{color:red; text-align:center}
#r1{font-size:35px;color:blue; font-family:oreo;}
#yo1{font-size:25px; color:orange;}
#tx1{font-size:25px;}
h2{text-align:center}
#qu1{font-size:35px;}
input{font-size:30px}
#nav2{background-color:yellow; hove:background-color:red;font-size:30px; text-align:center}
#form_xtr{font-size:25px;text-align:center;  border:black}

